/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: palevioletred; /* color base general */
  color: #333;
}

h1, h2, h3 {
  font-weight: bold;
  color: #333;
}

/* Encabezado */
header {
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
  font-size: 2rem;
  color: black;
}

/* Navegación */
.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: palevioletred;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #b37baa;
}


.hero {
  text-align: center;
  padding: 2rem;
}

.hero img {
  width: 80vw;
  height: 33vh;
  object-fit: cover;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
  margin-top: 2rem;
}
body.contact-page {
  background-color: palevioletred;
}
